<!doctype html>

<html>
<head>
  <title>Overview - All categories</title>
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>
</head>


<body>
  <h1>Categories</h1>
  <table>
    <tr>
      <th>Category Name</th>
      <th>All</th>
      <th>En</th>
      <th>De</th>
    </tr>
    {% for category in categories %}
    <tr>
      <td>{{ category['name'] }}</td>
      <td><a href="{{category['url_all']}}.html">all</a>({{category['books_all']}})</td>
      <td><a href="{{category['url_en']}}.html">en</a>({{category['books_en']}})</td>
      <td><a href="{{category['url_de']}}.html">de</a>({{category['books_de']}})</td>
    </tr>
    {% endfor %}
  </table> 
</body>
</html>